.post {
  h2 {
    font-size: 28px;
  }
  .title {
    padding: .4em 0 .6em 0;
  }
  div.body, div.body p {
    font-family: Buenard;
    font-size: 22px;
    line-height: 30px;
    color: #262626;
  }
}